/*

!.gitignore
!README.md
!LICENSE.md

!licenses

!audio
audio/*
!audio/se
audio/se/*
!audio/se/zv-battle-messages-*

!Data
Data/*
!Data/configs
Data/configs/*
!Data/configs/plugins

!Data/Text
Data/Text/*
!Data/Text/Dialogs
Data/Text/Dialogs/*
!Data/Text/Dialogs/193208.csv

!graphics
graphics/*
!graphics/animations/
graphics/animations/*
!graphics/animations/zv-battle-messages

!scripts
scripts/*
!scripts/ZVBattleMessages
